*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

section {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top */
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
}

.navItem {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.navItem:hover {
    border-radius: 5px;
    background-color: #555;
}

.mobile-screen {
    display: none; /* Hidden by default for larger screens */
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .navbar.mobile-screen {
        display: block; /* Display for mobile screens */
    }

    .navItem {
        padding: 15px 20px;
        text-align: center;
        width: 100%;
    }

    select.navbar {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: none;
        background-color: #333;
        color: white;
        font-size: 1em;
        cursor: pointer;
    }
}



.image-container {
    text-align: center; 
    color: #333;
    border-radius: 10px;
    margin-top: 50px;
}

.image-container .hero-img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}
.image-container .cover-img{
    max-width: 50%; 
    margin-top: 20px;
    display: block; 
    margin: 0 auto;
}

.image-container > h1 {
   font-size: 2.4rem;
   padding-bottom: 2%;
}

#hero-section {
    background-image: url('files/john-matychuk-yvfp5YHWGsc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color:aliceblue;
    
    text-align: center;
    padding: 100px 20px; 
}
.hero-title {
    font-size: 3rem; 
    margin-bottom: 20px;

}
.hero-content{
    background-color: rgba(88, 88, 88, 0.8);
    margin: 0 60px;
    border-radius: 5px;
}
.hero-paragraph {
    font-size: 1.5rem; 
    max-width: 800px; 
    margin: 0 auto 40px; /* Center and add bottom margin */
    line-height: 1.6; 
   
}

.expandable-heading {
    cursor: pointer;
    background-color: #ddd;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.expandable-content {
    display: none;
}
.active{
    display: block;
}

#employee-section>h1{
    background-color: #333;
    color: #f0f0f0;
}
.body-container{
    width: 100%;
}
.employee-form, .vehicle-form, .feedback-form{
    max-width: 200px;
}

@media screen and (max-width:767px) {
    .body-img{
        display: none;
    }
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="password"] {
    width: 180%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="button"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea {
    resize: none;
    max-width:600px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="button"]:hover {
    background-color: #555;
}
.body-container {
    display: flex;
    justify-content: center;
}
.add-space{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* changing according to javascript */
.body-img img{
    width: 50%;
}

#feedback{
    background-image: url('files/feedback-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: start;
}
.feedback-container{
    display: flex;
}
#feedback h1{
    font-size: 2em;
    font-weight: 800;
    color: white;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    width: 180%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* Hover and focus styles */
select:hover,
select:focus {
    border-color: #333;
}


#pricing {
    text-align: center;
    padding: 50px 0;
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pricing>h1{
    background-color: #333;
    color: #f0f0f0;
    padding: 0.8rem;
    margin: 0 1.5rem;
}

.pricing-table {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.pricing-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #007bff;
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.pricing-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.pricing-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.pricing-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b85f7;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: white;
}
.pricing-circle span{
    font-weight: bolder;
}

.pricing-category {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.pricing-category h3 {
    font-size: 1em;
    font-weight: bold;
}
.pricing-category p{
    color: #007bff;
    font-weight: bold;
}

.purchase-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color:#007bff;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
}

.purchase-button:hover{
    background-color: #0c325a;
}

.currency-convertor{
    display: none;
}

.currency-convertor select{
    width: 20%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.organization-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.organization-info p {
    margin-bottom: 5px;
}

.copyright {
    padding: 0 20px;
}
